<footer>
    <section class="cta">
        <h3>STUDEREN BIJ CMD?</h3>
        <a class="calltoaction" href="http://www.hva.nl/onderwijs/opleidingen/opleidingen/opleidingen/content/folder/fdmci/communication-and-multimedia-design/meer-informatie/open-dag/open-dag.html">Meer info hier! </a>
    </section>
    <section class="copyright">
        <p>© 2020 CMD AMSTERDAM. </p>
    </section>
</footer>