<header id="top">
    <a id="logo" href="https://www.cmd-amsterdam.nl">
        <img class="stnd  dark-version" alt="CMD AMSTERDAM"
            src="https://www.cmd-amsterdam.nl/wp-content/uploads/2020/03/HvA_RGB-1.png" style="height: 26px;">
    </a>
    <nav>
        <ul>
            <li><a href="https://www.cmd-amsterdam.nl/cmd/">CMD</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/studentenwerk/">STUDENTENWERK</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/samenwerken/">SAMENWERKEN</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/battery/">TRAINING</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/gda-2020/">GDA 2020</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/nieuws/">NIEUWS</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/english/">ENGLISH</a></li>
            <li><a href="https://www.cmd-amsterdam.nl/contact/">CONTACT</a></li>
        </ul>
    </nav>
</header>