<html lang="nl">
<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>

    <section class="banner">
        <section class="bannerContent">
            <h2>CMD</h2>
            <p>Opleiding voor digital interactive design.</p>
            <a href="https://www.hva.nl/opleiding/communication-and-multimedia-design/communication-and-multimedia-design.html">CMD studeren? Meer info hier.</a>
        </section>
    </section>
    <main class="mainContent">
        <section>
            <article>
                <h3>Ontwerpen</h3>
                <p>Wij zijn Communication and Multimedia Design (CMD). Wij zijn een HBO-ontwerpopleiding
                voor digital interactive design. Onze studenten ontwerpen en realiseren digitale
                interactieve oplossingen die optimaal aansluiten bij de behoeften van de gebruikers.</p>
                <p>In de kern van de opleiding zit interaction design, visual design en
                techniek (met name frontend development). Onze vakdocenten hebben een goed netwerk en
                vertalen continu recente ontwikkelingen naar het gehele onderwijsprogramma. Afgestudeerde
                studenten zijn daarmee van grote waarde in het huidige werkveld. Daar zijn wij trots op!</p>
                <a href="https://www.cmd-amsterdam.nl/cmd/">Meer over CMD</a>
            </article>
            <iframe title="CMD ontwerpen" src="https://player.vimeo.com/video/403687455?wmode=transparent"></iframe>
        </section>
        <section>
            <iframe title="CMD studentenwerk" src="https://player.vimeo.com/video/378908464?color=fff021&amp;wmode=transparent"></iframe>
            <article>
                <h3>Studentenwerk</h3>
                <p>Het werk van onze studenten varieert van websites tot webshops, en van fysieke
                producten met een NFC-chip tot interactieve datavisualisaties. En dan zijn we er
                vast nog een paar vergeten.</p>
                <p>
                We hebben een mooie selectie van studentenwerk voor je gemaakt.
                Hierbij kun je ook kiezen tussen werk uit de vier studiejaren. Laat je verrassen en voel
                je vrij om er comments bij te plaatsen!
                </p>
                <a href="https://www.cmd-amsterdam.nl/studentenwerk/">Bekijk studentenwerk</a>
            </article>
        </section>
        <section>
            <article>
                <h3>Samenwerken</h3>
                <p>Onze opleiding hecht grote waarde aan samenwerking. We kijken met interesse naar de
                ontwikkelingen in ons vakgebied en de samenleving en zoeken daar onderwerpen en partners
                uit. Daarnaast stellen wij onze kennis en kunde rond digital interactive design graag
                beschikbaar voor ons netwerk.</p>
                <p>Dit alles doen we via stages, het werken aan projecten,
                gastcolleges, bedrijfsbezoeken, bijbaantjes, (betaalde) ontwerpklussen voor onze studenten en
                korte cursussen en masterclasses voor bedrijven.</p>
                <a href="https://www.cmd-amsterdam.nl/samenwerken/">Samenwerken? Ja graag!</a>
            </article>
            <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/11/cmd_daantjebons_0025-1.jpg" alt="">
            </article>
        </section>
        <section>
            <article>
                <h3>Cursussen en masterclasses</h3>
                <p>Naast het opleiden van studenten delen wij onze kennis en expertise rond digital
                interactive design ook graag met iedereen die daar interesse in heeft. Vanuit CMD
                Battery geven onze docenten korte cursussen en masterclasses.</p>
                <p>Uitgangspunt is onze eigen expertise. In een gesprek kunnen wij de
                cursus aan laten sluiten bij jouw eigen kennisbehoefte. Mocht je op basis van ons
                opleidingsprogramma interesse hebben in één of meerdere onderwerpen, dan komen we graag bij je
                langs.</p>
                <a href="https://www.cmd-amsterdam.nl/battery/">Meer over Battery</a>
                </article>
                <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2018/11/battery-web.jpg" alt="">
            </article>
        </section>
    </main>

    <%- include("partials/foot") %>

    <a id="to-top" class="mobile-enabled" style="bottom: -30px;"><i class="icon-angle-up"></i></a>
</body>

</html>